<configuration>
	<system.web>
		<compilation debug="false" targetFramework="4.8" /> 
		<trace enabled="false" />
		<sessionState mode="Off" />
		<customErrors mode="Off" />
	<!--<customErrors mode="RemoteOnly"/> -->

		<!--<httpHandlers>
			<add verb="*" path="site.aspx" type="ActiveSite.ActiveXHandler,ActiveSitedll" />
		</httpHandlers>-->

		<globalization responseEncoding="utf-8" requestEncoding="utf-8" />		
			
		<httpRuntime targetFramework="4.8" appRequestQueueLimit="10" executionTimeout="11" maxRequestLength="128" useFullyQualifiedRedirectUrl="true" />				
			
	</system.web>

	<system.webServer>
		<httpErrors>
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" prefixLanguageFilePath="" path="/error404.aspx" responseMode="ExecuteURL" />
		</httpErrors>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
	</system.webServer>  
  
  <appSettings>
  		
  </appSettings>

</configuration>

